@charset "UTF-8";

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
}

section {
    width: 800px;
    margin: 10px auto;
}

.largura {
    margin: 10px 5px;
}

.youtube {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 15px;
}

.retorno {
    display: block;
    margin: 15px;
}